/* CSS */
:root {
    --bg-1: #0f1724;
    --bg-2: #16213e;
    --nav-bg: rgba(15, 17, 28, 0.75);
    --text: white;
}

/* BODY */

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: linear-gradient(to bottom, var(--bg-1), var(--bg-2));
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--text);
    height: 100vh;
}

/* NAVBAR */

.navbar {
    width: 100%;
    border-bottom: 2px solid white;
    background: linear-gradient(to top, var(--nav-bg), rgb(104 106 120 / 44%));
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.navbar ul li a {
    color: rgb(218, 218, 218);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: var(--text);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transform: scale(1.2);
}

/* FOOTER */

.footer p {
    margin: 0;
    padding: 5px 0;
    color: var(--text);
}

.footer {
    width: 100%;
    border-top: 2px solid white;
    background: linear-gradient(to bottom, var(--nav-bg), rgb(104 106 120 / 44%));
    font-size: small;
    text-align: center;
    padding: 10px 0;
}

.links a {
    text-decoration: none;
    color: #7dd3fc;
    font-weight: bold;
}

.links a:hover {
    text-decoration-color: var(--text);
}

/* HOME PAGE */
.introduction {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.01));
    box-shadow: 0px 0px 12px 7px rgb(255 255 255 / 60%);
    border-radius: 20px;
    text-align: center;
    color: var(--text);
    width: 90%;
    letter-spacing: 1px;
    line-height: 24px;
    padding: 7px;
}

/* PORTFOLIO PAGE */
.bio {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    width: 86%;
    padding: 25px;
    border-radius: 20px;
    color: var(--text);
    box-shadow: 0px 0px 12px 7px rgb(255 255 255 / 60%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bio p {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.bio h2 {
    margin: 0;
}

.image {
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 15%;
    width: 10%;
    height: 45%;
    overflow: hidden;
}


.image img {
    width: 120px;
    animation: up ease-in-out;
    animation-duration: 1s;
}

@keyframes up {
    0% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}

.image h2 {
    margin: 0;
}

/* CONTACT FORM */
.contact {
    color: var(--text);
    border-radius: 20px;
    box-shadow: 0px 0px 12px 7px rgb(255 255 255 / 60%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0.01));
    padding: 15px 35px;
    font-weight: bold;
}

.contact h1 {
    text-align: center;
    margin: 0;
}

.contact input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: none;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.contact textarea {
    max-height: 80px;
    min-height: 80px;
}

.contact button {
    background-color: #16213e;
    color: var(--text);
    padding: 12px 20px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.contact #button:hover {
    background-color: white;
    color: #16213e;
    box-shadow: 0px 0px 17px 7px white;
}

#name,
#mail {
    width: 47%;
}

.contact label[for="mail"] {
    position: relative;
    bottom: 33px;
    left: 44px;
}

/* PROJECT PAGE */

.card {
    p {
        margin: 0;
    }

    h3 {
        margin: 0;
    }

    a {
        color: #7dd3fc;
        text-decoration: none;
        cursor: pointer;
    }

    .grayline {
        color: gray;
    }
}

.card img {
    width: 50%;
    object-fit: cover;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #7dd3fc;
}

.card img:hover {
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transform: scale(1.07);
}

.projtitle {
    margin: -20px;
}

.card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    box-shadow: 0px 0px 12px 5px rgb(255, 255, 255);
    border-radius: 20px;
    width: 85%;
    height: 50%;
    padding: 10px;
    display: flex;
}

.content {
    padding: 2px 16px;
    text-align: center;
    width: 89%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* CAREER GOALS */
.goals {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: -20px;
}

.tg {
    width: 41.5vw;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    box-shadow: 0px 0px 12px 5px rgb(255, 255, 255);
    border-radius: 20px;
    padding-left: 32px;
}

.tg ul li {
    margin: 10px 0;
}

.mq {
    text-align: center;
    width: 90%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    box-shadow: 0px 0px 12px 5px rgb(255, 255, 255);
    border-radius: 20px;
}

.goaltitle {
    margin-top: -20px;
}

/* SKILLS PAGE */

.skills {
    width: 77%;
    box-shadow: 0px 0px 12px 7px rgb(255 255 255 / 60%);
    padding: 28px;
    border-radius: 20px;
}

.skilltitle {
    margin: 0 0;
}

.html,
.css,
.js,
.cpp {
    width: 0%;
    background: #989090;
    border-radius: 10px;
    font-weight: bolder;
    text-align: center;
    line-height: 20px;
    transition: width 1.5s ease;
}

.skills h2 {
    margin-bottom: 8px;
}

/* RESPONSIVE */
@media (max-width: 720px) {

    /* Navbar */
    .navbar ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
        padding: 10px 0;
    }

    .navbar ul li a {
        font-size: 1rem;
        padding: 10px 5px;
    }

    /* Introduction */
    .introduction {
        width: 85%;
        padding: 15px;
        height: auto;
        line-height: 26px;
        margin-top: 10px;
    }

    /* Profile / Bio */
    .bio {
        width: 85%;
        height: 60vh;
        padding: 15px;
        text-align: center;
    }

    .bio p {
        font-size: 12px;
        line-height: 20px;
    }

    .image {
        width: 38%;
    }

    .image img {
        width: 120px;
        height: auto;
    }

    /* Career Goals */
    .goaltitle {
        font-size: 2rem;
        margin-top: 10px;
    }

    .goals {
        flex-direction: row;
        row-gap: 10px;
        font-size: 12px;
    }

    .goals>div {
        width: 32vw;
        margin: 0px;
        padding: 15px;
        padding-bottom: 0px;
    }

    .mq {
        width: 85%;
        text-align: center;
        font-size: 1rem;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    /* Projects */
    .projtitle {
        font-size: 2rem;
        margin-top: 20px;
    }

    .card {
        flex-direction: column;
        width: 90%;
        height: auto;
        padding-bottom: 20px;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .content {
        font-size: 1.1rem;
        margin-top: 10px;
    }

    /* Skills */
    .skilltitle {
        font-size: 2rem;
        text-align: center;
        margin-top: 20px;
    }

    .skills {
        width: 75%;
        height: auto;
        font-size: 1rem;
    }

    .html,
    .css,
    .js,
    .cpp {
        line-height: 24px;
        border-radius: 10px;
    }

    /* Contact Form */
    .contact {
        width: 80%;
        height: 61%;
        padding: 20px;
        font-size: 1rem;
    }

    #mail,
    #name {
        width: 100%;
    }

    .contact label[for="mail"] {
        position: static;
    }

    #button {
        font-size: 1rem;
    }

    /* Footer */
    .footer {
        font-size: 0.9rem;
        padding: 10px 0;
    }
}

